<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.lorenzodeluca.it/dart/Dart"
			class = "it.lorenzodeluca.dart.dart.DartPackage"
			genModel = "model/generated/Dart.genmodel" />
	</extension>
</plugin>
